NODE_ENV=develop
PORT=4000
CORS_ORIGIN=http://localhost:3000
FRONTEND_APP_URL=http://localhost:3000

DATABASE_URL=postgresql://user:password@localhost:5432/qr_bell
DATABASE_SSL=true

JWT_SECRET=replace-with-access-token-secret
JWT_EXPIRES_IN=15m
REFRESH_TOKEN_SECRET=replace-with-refresh-token-secret
REFRESH_TOKEN_EXPIRES_IN=7d

VAPID_PUBLIC_KEY=replace-with-vapid-public-key
VAPID_PRIVATE_KEY=replace-with-vapid-private-key
VAPID_SUBJECT=mailto:admin@example.com
